body{
    padding: 0;
    margin: 0;

}

.header{
    background: linear-gradient(45deg, #cf7a0b, #ff7f7f);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: gray;
    width: 100%;
    height: 90vh;

}

.tituloBanco{
    color: aliceblue;
    font-size: 8vh;
    font-weight:900

}